

.signup-form{
    margin-top: 20%;
    margin-left: 5%;
    display:block;
    color:  rgba(224, 230, 237, 0.79);
    
}

.signuppic {
    height: 1224px;
    max-width: 978px;
    z-index: 0;
}

div#signup-div.col-4 {
    background-color:  rgba(4, 42, 75, 0.79);
    z-index: 1;
}



